*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', sans-serif
}

/* utility */

.bg-blue{
    background-color: #0084FD;
}

.flex{
    display: flex;
}

button {
    all: unset;
    cursor: pointer;
}

p{
    line-height: 27px;
}

.circle{
    border-radius: 100%;
}

.border-radius{
    border-radius: 50px;
}

.bg-lightblue{
    background-color: #B5DDFF;
    border-radius: 20px;
}

.bg-purple{
    background-color: #9792E4;
}

.bg-white{
    background-color: white;
}

.color-lightblue{
    color: #168EFD;
}

.text-grey{
    color: #7B96AD;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-align-center{
    text-align: center;
}

.font-size-16{
    font-size: 14px;
}

.font-size-80{
    font-size: 80px;
}

.font-weight{
    font-weight: 600;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-bottom-80{
    margin-bottom: 80px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-60{
    padding: 60px 0;
}

.padding-10{
    padding: 15px 17px;
}

/* header */

.row{
    width: 85%;
    margin: 0 auto;
}

.logo{
    padding: 20px 0;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.font-size{
    font-size: 25px;
}

/* main */

    /* first seciton */
    
    .col-80{
        width: 100%;
    }

    .card{
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }

    h2{
        color: #168EFD;
        font-size: 22px;
    }

    .btn-card{
        padding: 10px 55px;
        border-radius: 20px;
        color: white;
        word-spacing: 5px;
    }

    .phone{
        height: 350px;
        text-align: center;
        background-image: url(../img/phone.png);
        background-size: cover;
        background-position: center;
    }

    /* second section */
    
    .height-img{
        height: 300px;
    }

    .card .height-img{
        height: 260px;
    }   

    cir

/* end main */
