*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', sans-serif
}

/* utility */

.flex{
    display: flex;
}

button {
    all: unset;
    cursor: pointer;
}

p{
    line-height: 27px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.line-height-40{
    line-height: 40px;
}

.circle{
    border-radius: 100%;
}

.border-radius-50{
    border-radius: 50px;
}

.border-radius-20{
    border-radius: 20px;
}

.bg-blue{
    background-color: #0084FD;
}

.bg-lightblue{
    background-color: #B5DDFF;
    border-radius: 20px;
}

.bg-purple{
    background-color: #9792E4;
}

.bg-white{
    background-color: white;
}

.color-lightblue{
    color: #168EFD;
}

.text-orange{
    color: orange;
}

.text-grey{
    color: #818181;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-purple{
    color: #9792E4;
}

.text-align-center{
    text-align: center;
}

.font-size{
    font-size: 25px;
}

.font-size-45{
    font-size: 45px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-29{
    font-size: 29px;
}

.font-size-50{
    font-size: 50px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-60{
    font-size: 60px;
}

.font-size-80{
    font-size: 80px;
}

.font-weight{
    font-weight: 600;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-bottom-60{
    margin-bottom: 60px;
}

.margin-bottom-80{
    margin-bottom: 80px;
}

.margin-bottom-100{
    margin-bottom: 100px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.padding-top-60{
    padding-top: 60px;
}

.padding-60{
    padding: 60px 0;
}

.padding-10{
    padding: 15px 17px;
}

/* header */

.row{
    width: 85%;
    margin: 0 auto;
}

.logo{
    padding: 20px 0;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}


/* main */

    /* first seciton */
    
    .col-80{
        width: 100%;
    }

    .card{
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }

    h2{
        color: #168EFD;
        font-size: 22px;
    }

    .btn-card{
        padding: 10px 55px;
        border-radius: 20px;
        color: white;
        word-spacing: 5px;
    }

    .phone{
        height: 350px;
        text-align: center;
        background-image: url(../img/phone.png);
        background-size: cover;
        background-position: center;
    }

    /* second section */
    
    .height-img{
        height: 300px;
    }

    .card .height-img{
        height: 260px;
    }   

    /* third section */

    h3{
        font-weight: 100;
    }

    .img-circle{
        height: 200px;  
        width: 200px;
        object-fit: cover;
        border-radius: 100%;
    }

    /* fourth section */

    .letter-spacing{
        letter-spacing: 2px;
        padding: 10px 50px;
    }

    /* fith section */

    .position{
        top: 0;
        right: 100px;
    }

    .padding-in{
        padding: 5px 15px;
    }

    /* sixth section */

    .padding-started{
        padding: 20px 80px;
        font-weight: 700;
    }

    ul{
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    li:first-child{
        width: 50%;
    }

    li{
        width: 20%;
    }

    li:first-child, li:last-child{
        list-style-type: none;
    }

/* end main */

/* footer */

footer{
    background-color: #333333;
    padding: 40px 0;
}

footer .font-size-14 p{
    line-height: 20px;
}